body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-position: center;
    background-color:#272121;

}
.content{
    width:480px;
    height: 500px;
    color:#fff;
    border-radius: 26px;
    border:rgba(63, 142, 148, 0.904) solid;
    align-items: center;
    text-align: center;
}
h1{
    font-size: 36px;
    text-align: center;
}
.input-box{
   
    height:70px;
    margin:15px 13px 15px 13px;
    justify-content: center;
    align-items: center;
}
.input-box input{
    margin-left: 20px;
    text-align: center;
    align-items: center;
    width: 80%;
    height:30%;
    background: transparent;
    border: none;
    outline:none;
    border:2px solid ;
    font-size: 16px;
    color:rgba(63, 142, 148, 0.904);
    padding: 20px 45px 20px 20px; 
    border-radius: 6px;
    min-width: 200PX;
}
.input-box input::placeholder{
    color:#fff;
}
.btn{ 
    width: 80%;
    border:none;
    height: 45px;
    border-radius: 6px;
    outline: none;
    margin:10px 30px 10px 50px ; 
}
.btn:hover{
    background-color: aqua;
    color:#272121;
}
h1:hover{
    color:aqua
 }
 small{
    margin-left: 20px;
    color:red;

 }
 p{
    display: inline;
    margin-left: 170px;
    margin-top: 10px;
    color:aqua;
  

 }
 .angular{
    text-align: center;
    justify-content: center;
    align-items: center;

 }